:root {
  --card-width: 11rem;
  --card-height: 18rem;
  --textColor:  rgb(112, 219, 249);
  --colorLight: #5ddcff;
  --colorMiddle: #3c67e3;
  --colorDark: #4e00c2;
  --colorBG: rgb(48, 46, 46);
}

.card {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 5px;
  border-color: var(--colorMiddle);
  border-style: solid;
  border-width: 2px;
  background-color: var(--colorBG);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.idAndTypes {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.pokID {
  margin: 0.2rem;
}

.pokemonTypeImg {
  width: 25px;
  height: 25px;
}

.pokemonImg {
  max-width: 90%;
  max-height: 60%;
  filter:sepia(100%);
  justify-content: center;
}

.pokemonImg:hover {
  filter:sepia(0);
}

.bottomOfCard {
  height: 17%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: black;
  display: flex;
  justify-content:space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pokName{
  font-size: 1.3rem;
  margin: 0 0.5rem;
}